################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/SwitchStatement/obj/Debug
/SwitchStatement/Properties
